.git
.gitignore
.env
.env.*
!.env.example
.idea
.vscode
*.md
/node_modules
/vendor
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.result.cache
tests
phpunit.xml
docker-compose*.yml
